<div class="product-list container">

    <h2>Our Latest Collections</h2>

    <div fxLayout="row wrap" fxLayoutGap="50px grid">
        <div *ngFor=" let product of products">
    
            <mat-card class="product-card">
            
                <img mat-card-image src="assets/images/{{product.image_url}}">
                <mat-card-content>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.price | currency:'INR'}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
    
        </div>
    </div>
</div>