.product-list {
    .product-card {
        max-width: 150px;
    }
    
    mat-card:hover {
        transform: scale(1.10);
        cursor: pointer;
    }
    
    mat-card {
        transition: transform .2s;
    }
}